SIGNALWIRE_PROJECT_KEY=your-sw-key
SIGNALWIRE_TOKEN=your-sw-token
SIGNALWIRE_SPACE=YOURSPACE.signalwire.com
SIGNALWIRE_CONTEXT=chatbot-local

UPDATES_URL=http://localhost:5000/updates

SIP_APP=YOURSPACE-chatbotlocal.dapp.signalwire.com
ENABLE_DEBUG=true
